@{
    ViewData["Title"] = "登入";
}
@using Models
@using Request

<div class="container">
    <div class="row">
        <div class="col">
        </div>
        <div class="col">

            @if (TempData["ErrorMessage"] != null)
            {
                <div class="alert alert-danger" role="alert">
                    @TempData["ErrorMessage"]
                </div>
            }

            @if (TempData["password"] != null)
            {
                <div class="alert alert-danger" role="alert">
                    @TempData["password"]
                </div>
            }

            <form action="/Login/UserLoginVerify" method="post">
                <div class="row mb-3">
                    <label for="colFormLabel" class="col-sm-2 col-form-label">帳號：</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="name" name="name" placeholder="col-form-label">
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="colFormLabel" class="col-sm-2 col-form-label">密碼：</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="password" name="password" placeholder="col-form-label">
                    </div>
                </div>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <button class="btn btn-outline-primary" type="submit">登入</button>
                </div>
            </form>





        </div>
        <div class="col">
        </div>

    </div>
</div>

