@{
    ViewData["Title"] = "購物車";
}
@using Models


<div class="container">
    <div class="row">
        <div class="col">


            @ViewBag.Producttttt
            <form action="/Shoping/Checkout" method="post">

                <div class="d-grid gap-2 col-6 mx-auto">
                    <button class="btn btn-outline-primary" type="submit">結帳</button>
                </div>
            </form>






        </div>

    </div>
</div>

