@{
    Layout = "~/Views/Admin/_Layout.cshtml";
}
@using Models


<div class="container">
    <div class="row">
        <div class="col">


            <form action="/Admin/PostProduct" method="post" enctype="multipart/form-data">

                <div class="row mb-3">
                    <label for="colFormLabel" class="col-sm-2 col-form-label">商品名稱：</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="name" name="name" placeholder="請輸入名稱">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="colFormLabel" class="col-sm-2 col-form-label">商品價格：</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" id="price" name="price" placeholder="請輸入價格">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="colFormLabel" class="col-sm-2 col-form-label">商品說明：</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="remarks" name="remarks" placeholder="請輸入說明">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="colFormLabel" class="col-sm-2 col-form-label">分類名稱：</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="product_class" name="product_class" placeholder="請輸入分類">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="colFormLabel" class="col-sm-2 col-form-label">圖片：</label>
                    <div class="col-sm-10">
                        <input type="file" class="form-control custom-file-input" id="imager" name="imager" accept="image/*">
                    </div>
                </div>





                <button type="submit" id="buy" class="btn btn-outline-success">新增產品</button>
            </form>



        </div>

    </div>
</div>

