@{
    Layout = "~/Views/Admin/_Layout.cshtml";
}
@using Models


<div class="container">
    <div class="row">
        <div class="col">
            <a class="btn btn-outline-primary" href="/Admin/AddProduct" type="button">新增商品</a>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">商品編號</th>
                        <th scope="col">商品分類</th>
                        <th scope="col">商品名稱</th>
                        <th scope="col">商品單價</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.Product)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.ProductClass.class_name</td>
                            <td>@item.name</td>
                            <td>@item.price</td>
                            <td>
                                <a class="btn btn-outline-primary" href="/Admin/ProductDelete/@item.Id" type="button">刪除</a>
                                <a class="btn btn-outline-primary" href="/Admin/UpdProduct/@item.Id" type="button">修改</a>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>




        </div>

    </div>
</div>

