@{
    ViewData["Title"] = "會員中心";
}
@using Models


<div class="container">
    <div class="row">
        <div class="col">

            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">訂單列表</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">會員資料</button>
                </li>

            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">


                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">訂單編號</th>
                                <th scope="col">訂單時間</th>
                                <th scope="col">訂單地址</th>
                                <th scope="col">訂單金額</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in ViewBag.Order)
                            {
                            <tr>
                                <th scope="row">@item.order_number</th>
                                <td>@item.CreatedAt</td>
                                <td>@item.adress</td>
                                <td>@item.price</td>
                            </tr>
                            }
                                





                        </tbody>
                    </table>





                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...


                </div>

            </div>







        </div>

    </div>
</div>

