@{
    ViewData["Title"] = "ProductClass";
}
@using Models


<div class="container">
    <div class="row">
        <div class="col">

            @foreach (var item in ViewBag.Product)
            {
                <div class="card" style="width: 18rem;">
                    <img src="@item.imager" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">@item.name</h5>
                        <p class="card-text">@item.remarks</p>
                        <a href="/Product/Index/@item.Id" class="btn btn-primary">查看產品</a>
                    </div>
                </div>

            }







        </div>

    </div>
</div>

